include ../helpers/mixins
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(charset="UTF-8")
link(rel="icon" type="image/png" href=favicon)
<!--[if lte IE 9]>
	script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
<![endif]-->
+connect-link("css/style.css")
+connect-link("https://fonts.googleapis.com/css?family=Eczar:400,800|Work+Sans:300,400")
//+connect-script("js/lib/scripts-vanilla.min.js")
+connect-script("//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js")
+connect-script("js/lib/line-text.js")
//+connect-script("js/main.js")
+connect-script("js/main_vanilla.js")
+connect-script("js/lib/prism.min.js")
+connect-script("js/lib/codeflask.js")
+connect-script("js/lib/codeflask-editor.js")