
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<meta charset="UTF-8"/>
<link rel="icon" type="image/png"/><!--[if lte IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link href="css/style.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Eczar:400,800|Work+Sans:300,400" rel="stylesheet"/>
<!--+connect-script("js/lib/scripts-vanilla.min.js")-->
<script src="//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
<script src="js/lib/line-text.js"></script>
<!--+connect-script("js/main.js")-->
<script src="js/main_vanilla.js"></script>
<script src="js/lib/prism.min.js"></script>
<script src="js/lib/codeflask.js"></script>
<script src="js/lib/codeflask-editor.js"></script>