html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 18px;
  line-height: 1.42857143;
}

img {
  display: inline-block;
  max-width: 100%;
}

a, button {
  cursor: pointer;
}

.general-font, body {
  font-family: 'Work Sans', sans-serif;
}

.secondary-font, .vnav__logo-text, .about-us__aim, .vtitle, .vtitle-small, .code__title {
  font-family: 'Eczar', serif;
}

.regular, body {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.semi {
  font-weight: 600;
}

.bold, .vbtn {
  font-weight: 700;
}

.black, strong, .strong, b, .b, .vtitle-big {
  font-weight: 900;
}

/* -----------------------------------------------------------------------------
  COLUMNS
----------------------------------------------------------------------------- */
.vak-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.vak-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.vak-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.vak-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.vak-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.vak-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.vak-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.vak-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.vak-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.vak-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.vak-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.vak-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 480px) {
  .vak-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-xs-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .vak-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-xs-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .vak-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-xs-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .vak-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-xs-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .vak-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .vak-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .vak-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .vak-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .vak-md-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-md-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .vak-md-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-md-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .vak-md-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-md-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .vak-md-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-md-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .vak-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .vak-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .vak-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .vak-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

[class*="vak-"] {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------------------------------------------------------------------------
  COLUMNS
----------------------------------------------------------------------------- */
.vcontainer {
  margin-left: auto;
  margin-right: auto;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .vcontainer {
    width: 750px;
  }
}

@media (min-width: 1025px) {
  .vcontainer {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1170px;
  }
}

.negative-margin,
.vrow {
  margin-left: -15px;
  margin-right: -15px;
}

.cf {
  position: relative;
}

.cf:after, .cf:before {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.vak {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.flex, .vrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-y-center {
  -ms-flex-align: center;
      align-items: center;
}

@media (min-width: 768px) {
  .min-sm-reverse {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
  }
  .min-sm-x-end {
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .min-sm-x-between {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .min-sm-y-center {
    -ms-flex-align: center;
        align-items: center;
  }
}

.vsection {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* -----------------------------------------------------------------------------
  HIDDEN AND VISIBLE UTILITIES
----------------------------------------------------------------------------- */
.vhidden,
.vvisible-lg,
.vvisible-md,
.vvisible-sm,
.vvisible-xs,
.vvisible-exs {
  display: none !important;
}

@media (min-width: 1200px) {
  .vhidden-lg {
    display: none !important;
  }
  .vvisible-lg {
    display: block !important;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .vhidden-md {
    display: none !important;
  }
  .vvisible-md {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .vhidden-sm {
    display: none !important;
  }
  .vvisible-sm {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .vhidden-xs {
    display: none !important;
  }
  .vvisible-xs {
    display: block !important;
  }
}

.vnav {
  padding: 15px 0;
}

.vnav__logo {
  display: inline-block;
  font-size: 0;
}

.vnav__logo-text {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

.theme-dark .vnav__logo-text {
  color: #000;
}

@media (min-width: 768px) {
  .vnav__logo-text {
    font-size: 25px;
  }
}

.vnav__row {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.vnav_style {
  border-top-width: 1px;
  border-top-style: solid;
}

.theme-light .vnav_style {
  border-top-color: #f5f5f5;
  background-color: #fff;
}

.theme-dark .vnav_style {
  border-top-color: #000;
  background-color: #EF4836;
}

@media (min-width: 1025px) {
  .vnav__text {
    text-align: right;
  }
  .vnav__text-toggle, .vnav__text-links-inner_hidden {
    display: none;
  }
}

@media (max-width: 1024px) {
  .vnav_style .vnav__menu {
    position: fixed;
    left: 0;
  }
  .vnav_style .vnav__container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .vnav_style .vnav__menu {
    width: 270px;
    height: 100%;
    padding: 0 0 100px 0;
    top: 56px;
    z-index: 1;
    overflow-y: auto;
    transform: translateZ(0) translateX(-120%);
    will-change: transform;
    transition: all ease 0.3s;
  }
  .vnav_style .vnav__menu_active {
    -ms-transform: none;
        transform: none;
  }
  .vnav_style .vnav__text {
    text-align: right;
  }
  .vnav_style .vnav__text:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 56px;
    width: 55px;
    background-color: #2f3c8f;
    z-index: -1;
    opacity: 0;
    transition: all ease 0.5s;
  }
  .vnav_style .vnav__text-links {
    position: absolute;
    top: 56px;
    right: 0;
    min-width: 180px;
    padding: 15px;
    background-color: #5E34AA;
    transform: translateZ(0) translateX(120%);
    font-size: 14px;
    transition: all ease 0.5s;
  }
  .vnav_style .vnav__text-toggle span {
    background-color: #fff;
  }
  .vnav_style .vnav__text-toggle {
    display: block;
    cursor: pointer;
  }
  .vnav_style .vnav__text-toggle span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 100%;
  }
  .vnav_style .vnav__text-toggle span:last-child {
    margin-right: 0;
  }
  .vnav_style .vnav__text.active:after {
    opacity: 1;
  }
  .vnav_style .vnav__logo img {
    vertical-align: middle;
    max-height: 28px;
  }
  .vnav__text.active .vnav__text-links {
    -ms-transform: none;
        transform: none;
  }
}

@media (min-width: 1025px) {
  .vnav_row {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

.fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
}

.fixed_bottom {
  bottom: 0;
}

.fixed + .site {
  padding-bottom: 75px;
}

@media (min-width: 768px) {
  .fixed {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fixed_bottom {
    bottom: 0;
  }
}

@media (min-width: 1025px) {
  .fixed_top {
    top: 0;
  }
}

.vnav__menu-item {
  display: block;
  transition: all ease 0.5s;
}

.vnav__menu-item a {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .vnav__menu-item {
    margin-bottom: 15px;
  }
  .vnav__menu-item a {
    padding: 15px;
    color: #fff;
  }
}

@media (min-width: 1025px) {
  .vnav__menu-item {
    display: inline-block;
    vertical-align: middle;
  }
  .vnav__menu-item:not(:last-child) {
    margin-right: 15px;
  }
  .vnav__menu-item a {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  .vnav__menu-item a:before, .vnav__menu-item a:after {
    content: "";
    position: absolute;
    transition: all ease 0.5s;
  }
  .vnav__menu-item a:before, .vnav__menu-item a:after {
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F89406;
    opacity: 0;
  }
  .vnav__menu-item a:before {
    top: 0;
    -ms-transform: translateY(-10px);
        transform: translateY(-10px);
  }
  .vnav__menu-item a:after {
    bottom: 0;
    -ms-transform: translateY(10px);
        transform: translateY(10px);
  }
  .vnav__menu-item a:hover {
    color: #F89406;
  }
  .vnav__menu-item a:hover:after, .vnav__menu-item a:hover:before {
    -ms-transform: none;
        transform: none;
    opacity: 1;
  }
}

/* -----------------------------------------------------------------------------

  HAMBURGER COMPONENT
  
----------------------------------------------------------------------------- */
.hamburger {
  margin-right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.hamburger, .hamburger__lines, .hamburger__text {
  display: inline-block;
  vertical-align: middle;
}

.hamburger, .hamburger__lines, .hamburger__lines span {
  transition: all ease 0.3s;
}

.hamburger__lines {
  position: relative;
  width: 24px;
  height: 20px;
  text-indent: -9999px;
}

.hamburger__lines span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.hamburger__lines span:nth-child(1) {
  top: 0;
  -ms-transform-origin: 3px 5px;
      transform-origin: 3px 5px;
}

.hamburger__lines span:nth-child(2) {
  top: 8px;
  opacity: 1;
}

.hamburger__lines span:nth-child(3) {
  top: 16px;
  -ms-transform-origin: 1px -1px;
      transform-origin: 1px -1px;
}

.hamburger__text {
  margin-left: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.hamburger.active .hamburger__lines span:nth-child(1) {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.hamburger.active .hamburger__lines span:nth-child(2) {
  -ms-transform: translateX(-60px);
      transform: translateX(-60px);
  opacity: 0;
}

.hamburger.active .hamburger__lines span:nth-child(3) {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

@media (min-width: 1025px) {
  .hamburger {
    display: none;
  }
}

.site-header {
  position: relative;
  min-height: 50px;
  z-index: 1;
}

.site-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #191919;
  color: #fff;
}

.border__item {
  position: fixed;
  background-color: #F5C700;
  z-index: 5;
  transition: all ease 0.5s;
}

.border__item_top, .border__item_bottom {
  left: 0;
  width: 100%;
  height: 10px;
}

.border__item_left, .border__item_right {
  top: 0;
  width: 10px;
  height: 100%;
}

.border__item_top {
  top: 0;
}

.border__item_bottom {
  bottom: 0;
}

.border__item_left {
  left: 0;
}

.border__item_right {
  right: 0;
}

@media (min-width: 768px) {
  .border__item_top, .border__item_bottom {
    height: 15px;
  }
  .border__item_left, .border__item_right {
    width: 15px;
  }
}

.theme-light .border__item {
  background-color: #fff;
}

.theme-dark .border__item {
  background-color: #000;
}

.movie {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ab2020;
  z-index: 11;
  transition: all ease 0.5s;
  -ms-transform-origin: center center;
      transform-origin: center center;
}

.movie_hidden {
  -ms-transform: scale(0);
      transform: scale(0);
}

.movie__text {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.movie__title {
  color: #F5C700;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

@media (min-width: 768px) {
  .movie__text {
    width: 700px;
  }
}

.title {
  line-height: 1;
  width: 100%;
}

.title__word {
  fill: white;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

.title_start {
  min-height: 300px;
}

@media (min-width: 768px) {
  .title_end {
    min-height: 175px;
  }
  .title__word {
    font-size: 160px;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 20%;
    stroke-dasharray: 0 15%;
  }
}

.theme-switcher {
  text-align: right;
}

.theme-switcher__item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}

.theme-switcher__text {
  padding-left: 25px;
  font-size: 12px;
  font-weight: bold;
  transition: all ease 0.5s;
}

.theme-light .theme-switcher__text_light, .theme-dark .theme-switcher__text_dark {
  display: none;
}

.theme-switcher__text_light {
  color: #fff;
}

.theme-switcher__text_dark {
  color: #000;
}

.theme-switcher__icon {
  position: absolute;
  left: 0;
  top: 50%;
  width: 15px;
  margin-top: -7.5px;
  font-size: 0;
  z-index: -1;
  animation: switcherRotate 3s linear infinite;
}

.theme-dark .theme-switcher__icon path {
  fill: #fff;
}

@keyframes switcherRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.variety {
  margin-top: 20px;
  -ms-transform: none;
      transform: none;
  transition: all ease 0.5s;
  transition-delay: 0.5s;
}

.variety_hidden {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(100%);
      transform: translateY(100%);
}

.variety__item {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

.variety__item-wrap {
  width: 150px;
}

.variety__item-title {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.variety__item_light {
  background-color: #fff;
}

.variety__item_dark {
  background-color: #000;
}

.variety__item_dark .variety__item-title {
  color: #fff;
}

.variety__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #F5C700;
  -ms-transform: translateY(100%);
      transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5s;
}

.variety__item:hover:before {
  -ms-transform: none;
      transform: none;
  opacity: 1;
  visibility: visible;
}

.variety__icon {
  position: absolute;
  left: 50%;
  top: 30px;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: 60px;
}

.variety__warning, .variety__title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.variety__warning {
  margin-top: 10px;
  font-size: 12px;
}

.variety__warning_dark {
  color: #000;
}

.variety__warning_light {
  color: #D1D5D8;
}

.variety__title {
  margin-bottom: 30px;
  color: #F69C00;
  font-size: 18px;
}

@media (min-width: 768px) {
  .variety {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .variety__item-wrap:not(:last-child) {
    margin-right: 45px;
  }
}

.about-us {
  position: relative;
  z-index: 1;
}

.about-us__title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.about-us__header {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.about-us__container {
  min-height: 0;
}

.about-us__window {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.about-us__window_man {
  background-image: url("../img/man-full-small.png");
}

.about-us__window_girl {
  background-image: url("../img/girl-full-small.png");
}

.about-us__name, .about-us__description, .about-us__aim-sequel span {
  background-color: rgba(255, 255, 255, 0.9);
}

.about-us__name {
  position: absolute;
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
}

.about-us__description {
  padding: 5px 15px;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
}

.about-us__aim {
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.about-us__aim-sequel {
  font-size: 20px;
}

.about-us__aim-sequel span {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.about-us__part {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}

.about-us__part_man {
  -ms-transform: skewY(10deg);
      transform: skewY(10deg);
}

.about-us__part_girl {
  -ms-transform: skewY(-10deg);
      transform: skewY(-10deg);
}

.about-us__part_man .about-us__part-container {
  -ms-transform: skewY(-10deg);
      transform: skewY(-10deg);
}

.about-us__part_man .about-us__name {
  right: 0;
  bottom: 0;
}

.about-us__part_man .about-us__description {
  right: 20px;
  top: 0;
  -ms-transform-origin: right;
      transform-origin: right;
}

.about-us__part_girl .about-us__part-container {
  -ms-transform: skewY(10deg);
      transform: skewY(10deg);
}

.about-us__part_girl .about-us__name {
  left: 0;
  bottom: 0;
}

.about-us__part_girl .about-us__description {
  left: 20px;
  top: 125px;
  -ms-transform-origin: left;
      transform-origin: left;
}

.theme-light .about-us {
  background-color: #0EBB9F;
}

.theme-light .about-us__part_man {
  background-color: #F5C700;
}

.theme-light .about-us__window_man {
  background-color: #EF4836;
}

.theme-light .about-us__window_girl {
  background-color: #F5C700;
}

.theme-light .about-us__part_girl {
  background-color: #F69C00;
}

@media (max-width: 767px) {
  .about-us__item {
    margin-bottom: 30px;
  }
  .about-us__header {
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) {
  .about-us__title {
    top: -75px;
  }
  .about-us__part {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .about-us__window {
    background-attachment: fixed;
  }
}

@media (min-width: 1025px) {
  .about-us__part {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

@media (min-width: 1200px) {
  .about-us__window {
    width: 400px;
    height: 400px;
    background-position: 25% 20%;
  }
  .about-us__aim {
    font-size: 70px;
  }
}

.intro {
  position: relative;
  padding-top: 75px;
  padding-bottom: 150px;
  overflow: hidden;
  z-index: 1;
}

.intro__element {
  position: absolute;
  width: 100px;
  height: 100px;
  border-width: 10px;
  border-style: solid;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  opacity: 0.9;
  z-index: -1;
}

.intro__element_1 {
  left: 0;
  top: -5%;
}

.intro__element_2 {
  right: -10%;
  top: 15%;
}

.intro__element_3 {
  left: 100px;
  bottom: -15%;
}

.intro__description {
  text-align: center;
  color: #fff;
}

.intro__company-name {
  margin-bottom: 30px;
}

.intro__company-name svg {
  height: 300px;
}

@media (min-width: 768px) {
  .intro {
    padding-top: 100px;
    padding-bottom: 250px;
  }
  .intro__company-name svg {
    height: 400px;
  }
}

@media (min-width: 1025px) {
  .intro__element {
    width: 250px;
    height: 250px;
    border-width: 15px;
  }
}

.theme-light .intro {
  background: radial-gradient(#0EBB9F, #3984e5);
}

.theme-light .intro__element {
  border-color: #F5C700;
}

.theme-dark .intro {
  background: radial-gradient(#005057, #0a2427);
}

.our-skills {
  position: relative;
  z-index: 2;
  padding-top: 75px;
  padding-bottom: 75px;
}

.our-skills__title {
  top: 0;
}

@media (min-width: 768px) {
  .our-skills__title {
    top: -75px;
  }
}

.bg-brand-1 {
  background-color: #F89406;
}

.inline-block {
  display: inline-block;
}

.ovh {
  overflow: hidden;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.color-white {
  color: #fff;
}

.color-brand-1 {
  color: #F89406;
}

.offset-static-xs {
  margin-bottom: 15px;
}

.offset-static-sm {
  margin-bottom: 30px;
}

.offset-static-md {
  margin-bottom: 45px;
}

.offset-big, .offset-extra {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .offset-extra {
    margin-bottom: 90px;
  }
}

.vbtn {
  display: inline-block;
  position: relative;
  padding: 10px 16px;
  font-size: 14px;
  border: 0;
  border-radius: 0;
  z-index: 1;
  overflow: hidden;
  max-width: 100%;
  background-color: transparent;
  text-decoration: none;
  line-height: 1.3;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transform: translateZ(0);
  transition: all ease 0.5s;
}

.vbtn_large {
  padding: 15px 25px;
  font-size: 18px;
}

.vbtn_block {
  display: block;
  width: 100%;
  text-align: center;
}

.vbtn_shadow-brand-1 {
  box-shadow: 0 3px 8px 1px rgba(248, 148, 6, 0.5);
}

.vbtn_shadow:hover {
  box-shadow: none;
}

.vbtn_navigation {
  background-color: #3f51be;
}

@media (max-width: 1024px) {
  .vbtn_navigation {
    padding: 15px;
    width: 100%;
    font-size: 18px;
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .vbtn_navigation {
    background-color: #F89406;
  }
}

.vbtn_white {
  background-color: #fff;
  color: #F89406;
}

.vbtn_white:before {
  background-color: #f2f2f2;
}

.vbtn_white-simple:hover {
  background-color: #d9d9d9;
}

.vbtn_brand-1 {
  background-color: #F89406;
  color: #fff;
}

.vbtn_brand-1:before {
  background-color: #df8505;
}

.vbtn_brand-1-simple:hover {
  background-color: #ad6704;
}

.vbtn_border-brand-1 {
  border-width: 3px;
  border-style: solid;
}

.vbtn_border-brand-1 {
  border-color: #F89406;
  color: #000;
}

.vbtn_border-brand-1:before {
  background-color: #F89406;
}

.effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all ease 0.5s;
}

.effect_line:before {
  width: 40px;
  height: 400%;
  transition-delay: 0.4s;
}

.effect_line.left.top:before {
  top: 50%;
  left: -100%;
  -ms-transform: rotate(35deg) translateY(-50%);
      transform: rotate(35deg) translateY(-50%);
}

.effect_line.left.top:hover:before {
  left: 150%;
}

.effect_skew:before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.effect_skew:hover:before {
  height: calc(450% - 40px);
  opacity: 1;
}

.effect_shutter-vertical-out:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -ms-transform: scaleY(0);
      transform: scaleY(0);
}

.effect_shutter-vertical-out:hover:before {
  -ms-transform: scaleY(1);
      transform: scaleY(1);
}

.effect_shutter-horizontal-out:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.effect_shutter-horizontal-out:before {
  -ms-transform: scaleX(0);
      transform: scaleX(0);
}

.effect_shutter-horizontal-out:hover:before {
  -ms-transform: scaleX(1);
      transform: scaleX(1);
}

.effect_bounce-top:before, .effect_bounce-bottom:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -ms-transform: scaleY(0);
      transform: scaleY(0);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.effect_bounce-top:before {
  -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
}

.effect_bounce-bottom:before {
  -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
}

.effect_bounce-top:hover:before, .effect_bounce-bottom:hover:before {
  -ms-transform: none;
      transform: none;
}

/* -----------------------------------------------------------------------------
  CHECKBOX & RADIO COMPONENTS
----------------------------------------------------------------------------- */
.control__indicator, .control__indicator:before {
  transition: all ease 0.3s;
}

.control {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.control-group {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.control__text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
  font-size: 18px;
}

.control__indicator {
  position: absolute;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.control__indicator:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: scale(0);
      transform: scale(0);
}

.control input[type="checkbox"],
.control input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

input[type="radio"] + .control__indicator {
  border-width: 1px;
  border-style: solid;
  border-radius: 100%;
}

input[type="radio"] + .control__indicator:before {
  width: 50%;
  height: 50%;
  margin-top: -25%;
  margin-left: -25%;
  border-radius: 100%;
}

input[type="radio"]:checked + .control__indicator:before {
  -ms-transform: scale(1);
      transform: scale(1);
}

input[type="checkbox"] + .control__indicator {
  border-width: 1px;
  border-style: solid;
}

input[type="checkbox"] + .control__indicator:before {
  left: 9px;
  top: 4px;
  width: 6px;
  height: 13px;
  border-style: solid;
  border-width: 0 3px 3px 0;
  -ms-transform: rotate(0deg) scale(0);
      transform: rotate(0deg) scale(0);
}

input[type="checkbox"]:checked + .control__indicator:before {
  -ms-transform: rotate(45deg) scale(1);
      transform: rotate(45deg) scale(1);
}

.control_default input[type="radio"] + .control__indicator {
  border-color: #F89406;
}

.control_default input[type="radio"] + .control__indicator:before {
  background-color: #F89406;
}

.control_default input[type="checkbox"] + .control__indicator {
  border-color: #F89406;
}

.control_default input[type="checkbox"] + .control__indicator:before {
  border-color: #F89406;
}

.vform {
  width: 100%;
}

.vform_block .vform__row {
  margin-bottom: 15px;
}

.vform_block .vform__row:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .vform_line .vform__row {
    margin-bottom: 15px;
  }
  .vform_line .vform__row:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .vform_line .vform__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .vform_line .vform__row {
    -ms-flex: 1;
        flex: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.vform-control {
  display: block;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  color: #000;
  text-align: left;
  font-size: 15px;
  -webkit-appearance: none;
  outline: none;
  transition: all ease 0.5s;
  border: 1px solid #ddd;
}

.vform-control:-moz-placeholder {
  transition: all ease 0.5s;
}

.vform-control::-moz-placeholder {
  transition: all ease 0.5s;
}

.vform-control:-ms-input-placeholder {
  transition: all ease 0.5s;
}

.vform-control::-webkit-input-placeholder {
  transition: all ease 0.5s;
}

.vform-control:focus {
  border-color: #F89406;
}

.vform-control:focus:-moz-placeholder {
  color: transparent;
}

.vform-control:focus::-moz-placeholder {
  color: transparent;
}

.vform-control:focus:-ms-input-placeholder {
  color: transparent;
}

.vform-control:focus::-webkit-input-placeholder {
  color: transparent;
}

[type="submit"] {
  cursor: pointer;
}

.list {
  list-style: none;
}

.list li {
  position: relative;
}

.list li:after {
  content: "";
  position: absolute;
}

.list_cancel li {
  padding-left: 30px;
}

.list_cancel li:after {
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-u {
  text-decoration: underline;
}

.text-dn {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.size-zero {
  font-size: 0;
}

.vtitle, .vtitle-small {
  line-height: 1.2;
}

.vtitle {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .vtitle {
    font-size: 100px;
  }
}

@media (min-width: 1025px) {
  .vtitle {
    font-size: 120px;
  }
}

@media (min-width: 1200px) {
  .vtitle {
    font-size: 140px;
  }
}

.vtitle_flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.vtitle_flex-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.vtitle_animation span {
  line-height: 1;
  display: inline-block;
}

.vtitle_animation span > span {
  -ms-transform: none;
      transform: none;
  animation: titleLetterMove 7s linear 0s infinite;
}

@keyframes titleLetterMove {
  50% {
    transform: translate(15px, -15px);
  }
}

.vtitle_animation > span:nth-child(2) {
  transform: translate3d(0, -2px, 0);
}

.vtitle_animation > span:nth-child(2) span {
  animation-delay: 1.33333s;
}

.vtitle_animation > span:nth-child(3) {
  transform: translate3d(0, -27px, 0);
}

.vtitle_animation > span:nth-child(3) span {
  animation-delay: 2s;
}

.vtitle_animation > span:nth-child(4) {
  transform: translate3d(0, -32px, 0);
}

.vtitle_animation > span:nth-child(4) span {
  animation-delay: 2.66667s;
}

.vtitle_animation > span:nth-child(5) {
  transform: translate3d(0, -5px, 0);
}

.vtitle_animation > span:nth-child(5) span {
  animation-delay: 3.33333s;
}

.vtitle_animation > span:nth-child(6) {
  transform: translate3d(0, -12px, 0);
}

.vtitle_animation > span:nth-child(6) span {
  animation-delay: 4s;
}

.vtitle_animation > span:nth-child(7) {
  transform: translate3d(0, -28px, 0);
}

.vtitle_animation > span:nth-child(7) span {
  animation-delay: 4.66667s;
}

.vtitle_animation > span:nth-child(8) {
  transform: translate3d(0, -72px, 0);
}

.vtitle_animation > span:nth-child(8) span {
  animation-delay: 5.33333s;
}

.vtitle_animation > span:nth-child(9) {
  transform: translate3d(0, -45px, 0);
}

.vtitle_animation > span:nth-child(9) span {
  animation-delay: 6s;
}

.vtitle_animation > span:nth-child(10) {
  transform: translate3d(0, 30px, 0);
}

.vtitle_animation > span:nth-child(10) span {
  animation-delay: 6.66667s;
}

.vtitle-small {
  font-size: 20px;
}

@media (min-width: 768px) {
  .vtitle-small {
    font-size: 30px;
  }
}

@media (min-width: 1025px) {
  .vtitle-small {
    font-size: 40px;
  }
}

.vtitle-big {
  line-height: 1;
  font-size: 30px;
}

@media (min-width: 480px) {
  .vtitle-big {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .vtitle-big {
    font-size: 120px;
  }
}

.vtitle-big__line {
  display: block;
}

.vtitle-big__line_2 {
  padding-left: 50px;
}

.vtitle-big__first-letter {
  font-size: 140%;
  display: inline-block;
}

@media (min-width: 768px) {
  .vtitle-big__line_2 {
    padding-left: 100px;
  }
}

.text-gradient_primary > span:first-child span,
.text-gradient_primary > span:last-child span {
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.theme-light .text-gradient_primary > span:first-child span, .theme-light
.text-gradient_primary > span:last-child span {
  background-image: linear-gradient(to right, #0EBB9F, #56f2d9);
}

.code {
  display: none;
}

@media (min-width: 1025px) {
  .code {
    display: block;
  }
  .code__header {
    margin-bottom: 30px;
    text-align: center;
  }
  .code__title {
    margin-bottom: 5px;
    font-size: 50px;
    text-align: center;
    line-height: 1;
    color: #fff;
    font-weight: 100;
  }
  .code__description {
    font-size: 18px;
    color: #F5C700;
  }
  .code__nav {
    position: relative;
    width: 100%;
    padding: 5px 10px;
    background-color: #ececec;
    border-bottom: 1px solid #e0e0e0;
    z-index: 1;
    font-size: 0;
    text-align: center;
    color: #a5a5a5;
  }
  .code__nav-act {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .code__nav-act-wrap {
    position: absolute;
    left: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
  }
  .code__nav-act_close {
    background-color: #ea1123;
  }
  .code__nav-act_expand {
    background-color: #f8e042;
  }
  .code__nav-act_turn {
    background-color: #7dbf44;
  }
  .code__nav-title {
    font-size: 14px;
  }
  .code__content {
    max-width: 700px;
    height: 380px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .CodeFlask {
    position: relative;
    overflow: hidden;
  }
  .CodeFlask__textarea,
  .CodeFlask__pre {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    border: none;
    font-family: monospace;
    font-size: 13px;
    background: transparent;
    white-space: pre-wrap;
    line-height: 1.5em;
    word-wrap: break-word;
  }
  .CodeFlask__textarea {
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    opacity: 0.4;
    margin: 0;
    z-index: 1;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .CodeFlask__pre {
    z-index: 2;
    pointer-events: none;
    overflow-y: auto;
    margin: 0;
  }
  .CodeFlask__code {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    display: block;
  }
  code, pre, textarea {
    line-height: 1.4rem !important;
  }
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }
  .token.punctuation {
    color: #999;
  }
  .namespace {
    opacity: .7;
  }
  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #905;
  }
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #690;
  }
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #a67f59;
  }
  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #07a;
  }
  .token.function {
    color: #DD4A68;
  }
  .token.regex,
  .token.important,
  .token.variable {
    color: #e90;
  }
  .token.important,
  .token.bold,
  .token.vbtn {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }
  .token.entity {
    cursor: help;
  }
}
