-
	var navigation = [
		{
			name: 'asdasd',
			link: 'index.html'
		},
		{
			name: 'Main 2',
			link: 'index2.html'
		},
		{
			name: 'Main 3',
			link: 'index3.html'
		}
	];

	var sevaSkills = [
		{
			name: 'JS();',
			fullname: 'Javascript&jQuery',
			description: 'Using for creating animation.',
			percentage: '75%',
			technology: 'js'
		},
		{
			name: 'CSS3{}',
			fullname: 'CSS3',
			description: 'Styling website',
			percentage: '90%',
			technology: 'css'
		},
		{
			name: 'HTML5</>',
			fullname: 'HTML5',
			description: 'Structure website',
			percentage: '95%',
			technology: 'html'
		},
		{
			name: 'PHP<?=?>',
			fullname: 'PHP',
			description: 'Use for building rich web pages and applications',
			percentage: '65%',
			technology: 'php'
		},
		{
			name: 'WP',
			fullname: 'WP',
			description: 'Ideal platform for publication, focused on beauty.',
			percentage: '70%',
			technology: 'wp'
		},
		{
			name: 'Angular',
			fullname: 'Angular',
			description: 'Using for creating Single Page Applications.',
			percentage: '15%',
			technology: 'angular'
		}
	];

	var alinaSkills = [
		{
			name: 'PS',
			fullname: 'Adobe Photoshop',
			description: 'Ideal tool for creating a design.',
			percentage: '15%',
			technology: 'ps'
		},
		{
			name: 'AI',
			fullname: 'Adobe Illustrator',
			description: 'Ideal tool for creating a design.',
			percentage: '15%',
			technology: 'ai'
		},
		{
			name: 'fw',
			fullname: 'Fireworks',
			description: 'Ideal tool for creating a design.',
			percentage: '15%',
			technology: 'fw'
		}
	];

	var projects = [
		{
			image: 'https://www.designer-daily.com/wp-content/uploads/2010/10/schepps-design.jpg',
			title: 'KOD',
			about: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit delectus culpa dolor, libero voluptatum incidunt?',
			date: '28.09.2017 - 30.09.2017',
			link: '#',
			tags: ['JS', 'PHP', 'Jquery', 'HTML', 'CSS']
		},
		{
			image: 'https://www.designer-daily.com/wp-content/uploads/2010/10/schepps-design.jpg',
			title: 'Bank of machine technologies',
			about: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi odit voluptates laudantium temporibus ab molestiae dolores inventore quia harum, pariatur fugit eum vel dolore fuga aspernatur. Soluta facere pariatur tempora!',
			date: '31.09.2017 - 32.09.2017',
			link: '#',
			tags: ['Angular', 'PHP', 'Jquery', 'HTML', 'CSS']
		}
	];