.vform{
	$self: &;
	width: 100%;
	&__row{
		position: relative;
		#{$self}_block &{
			@include rowOffset();
		}
	}
	@include resp-max(sm){
		&__row{
			#{$self}_line &{
				@include rowOffset();
			}
		}
	}
	@include resp-min(sm){
		&__content{
			#{$self}_line &{
				display: flex;
				justify-content: center;
			}
		}
		&__row{
			#{$self}_line &{
				flex: 1;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	@if( $design-form == 'new' ){
		&-control{
			@include input-default();
			border: none;
		}
		&__row_line{
			&:before{
				@include pseudo();
				left: 0;
				bottom: 0;
				height: 1px;
				width: 100%;
				background-color: palette('primary');
			}
		}
		&__line{
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 0;
			background-color: palette('accent');
			@include transition();
		}
		
		
		input:focus + &__line{
			width: 100%;
		}
		@include theme('dark'){
			&__line{
				background-color: palette('primary');
			}
		}
		@include resp-min(xs){
			&__row{
				margin-top: 30px;
			}
		}	
	}@else{
		&-control{
			@include input-default();
			border: 1px solid #ddd;
			&:focus{
				border-color: setColor('brand-1');
				@include placeholder{
					color: transparent;
				}
			}
		}
	} 

}
[type="submit"]{
	cursor: pointer;
}