extends includes/layout
block variables
	- var title = "Main page";
	- var description = "description";
block content
	+b.SECTION.intro
		+e.element._1
		+e.element._2
		+e.element._3
		//+e.particles#particles-js
		.vcontainer
			.vrow
				.vak-12.vak-sm-7
					+e.company-name-wrapper
						+e.H1.company-name._below
							+e.SPAN.company-name-element Kitchen 
							+e.SPAN.company-name-element._highlight &amp; 
							+e.SPAN.company-name-element Design
						//+e.P.company-name._over
							|Kitchen
							+e.SPAN.company-name-element &amp;
							|Design
					+e.description-wrapper
						+e.H2.description How to create a selling company website?
						+e.P.description._light We will help you cook a delicious website.
					+e.button-wrapper
						+b.BUTTON.vbtn._large._accent-secondary._primary-shadow.effect._bounce-top(data-action="vmodal" data-open="#form") Let's start a new project
				+e.phone.vak-12.vak-sm-5
					+e.phone-inner
						+e.phone-hand(src='img/phone.png')
						+e.phone-screen
							+e.P.phone-screen-title Lorem ipsum dolor sit amet.
							+e.phone-screen-text
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, laboriosam quo blanditiis, nobis id maiores.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, laudantium.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, laudantium.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, laudantium.
	+b.SECTION.about-us
		h3.about-us__title.vtitle.vtitle_animation.vtitle_flex.vtitle_flex-around.js-split.color-secondary About
		//+b.group.left.top
			+e.H3.title About Us
		+e.part._man
			.vcontainer
				+e.row.vrow
					+e.column._image.vak-12.vak-sm-6
						+e.image-wrapper
							+e.image(src='img/man-full.png')
					+e.column._text.vak-12.vak-sm-6
						+e.HEADER.header
							+e.P.name Vsevolod Kurochka
							+e.P.description.underline._left._bg-secondary Web-developer
						+e.SECTION.body
							+e.BLOCKQUOTE.aim
								+e.aim-header
									+e.SVG.aim-icon(version="1.1" viewBox="0 0 191 182.2")
										+e.PATH.aim-icon-path(d="M44.3,84v15.4h38.4v82.8H0V99.4l0,0V84c0-31.2,9-54.4,26.7-68.9C39,5.1,54.5,0,72.8,0v44.3 C62.9,44.3,44.3,44.3,44.3,84z M181.1,44.3V0c-18.4,0-33.9,5.1-46.1,15.1c-17.7,14.5-26.7,37.7-26.7,68.9v15.4l0,0v82.8H191V99.4 h-38.4V84C152.6,44.3,171.1,44.3,181.1,44.3z")
								+e.P.aim-content
									|I am proud of every 
									+e.SPAN.aim-accent project, 
									|that touched my hands.
							//+e.signature-wrapper
								+e.signature(src="img/signature_man.svg")
						+e.FOOTER.footer
							+b.BUTTON.vbtn._large._secondary._secondary-shadow.effect._bounce-top(data-action="vmodal" data-open="#form") Download resume
		+e.part._girl
			.vcontainer
				+e.row._reverse.vrow
					+e.column._image.vak-12.vak-sm-6
						+e.image-wrapper
							+e.image(src='img/girl-full-small.png')
					+e.column._text.vak-12.vak-sm-6
						+e.HEADER.header
							+e.P.name Alina Yaremachenko
							+e.P.description.underline._left._bg-primary Web-designer
						+e.SECTION.body
							+e.BLOCKQUOTE.aim
								+e.aim-header
									+e.SVG.aim-icon(version="1.1" viewBox="0 0 191 182.2")
										+e.PATH.aim-icon-path(d="M44.3,84v15.4h38.4v82.8H0V99.4l0,0V84c0-31.2,9-54.4,26.7-68.9C39,5.1,54.5,0,72.8,0v44.3 C62.9,44.3,44.3,44.3,44.3,84z M181.1,44.3V0c-18.4,0-33.9,5.1-46.1,15.1c-17.7,14.5-26.7,37.7-26.7,68.9v15.4l0,0v82.8H191V99.4 h-38.4V84C152.6,44.3,171.1,44.3,181.1,44.3z")
								+e.P.aim-content
									|Modern 
									+e.SPAN.aim-accent design, 
									|is the embodiment of beauty.
							//+e.signature-wrapper
								+e.signature(src="img/signature_woman.svg")
						+e.FOOTER.footer
							+b.BUTTON.vbtn._large._primary._primary-shadow.effect._bounce-top(data-action="vmodal" data-open="#form") Download resume
	+b.SECTION.our-skills
		+e.content
			h3.our-skills__title.vtitle.vtitle_animation.vtitle_flex.vtitle_flex-around.js-split Skills
			+e.container.vcontainer
				+e.P.subtitle.underline._left._bg-secondary Code
				+e.row.vrow
					for skill in sevaSkills
						+skill(skill.name, skill.fullname, skill.description, skill.percentage, skill.technology)
			+e.container.vcontainer
				+e.P.subtitle.underline._left._bg-secondary Design
				+e.row.vrow
					for skill in alinaSkills
						+skill(skill.name, skill.fullname, skill.description, skill.percentage, skill.technology)
	+b.SECTION.portfolio
		h3.portfolio__title.vtitle.vtitle_animation.vtitle_flex.vtitle_flex-around.js-split.color-secondary Works
		+e.container.vcontainer
			+e.description
				+e.P.description-title TOP-10
				+e.description-content
					+e.description-content-title.underline._left._bg-secondary Best works
					+e.description-content-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quasi consequatur quod eum enim accusantium reprehenderit sint. Culpa, sapiente maxime eaque consequatur atque tempora, nemo nobis est sunt accusamus odit!
			+e.wrapper
				for project in projects
					+project(project.image, project.title, project.about, project.date, project.link, project.tags)
		+e.button-wrapper
			+b.A.vbtn._large._secondary._secondary-shadow.effect._bounce-top(href="#") See more projects
	+b.SECTION.invite
		.vcontainer
			.text-center.offset-static-sm
				+e.H3.title.vtitle-general.underline._center._bg-secondary Are you interested in working with us?
				+e.P.title-description.vtitle-general-small Contact us for more details
			.text-center
				+b.BUTTON.vbtn._large._primary._primary-shadow.effect._bounce-top(data-action="vmodal" data-open="#form") Contact us
block footer
	+connect-script("js/lib/anime.min.js")
	+connect-script("js/lib/demo3.js")
block dev
	+b.vmodal#form
		+e.box._default
			+e.header
				+e.P.title Contact Us
				+e.BUTTON.close(data-close="vmodal") &times;
			+e.body
				+b.FORM.vform._block(action="mail.php" method="POST")
					+e.content
						+e.row._line
							+b.INPUT.vform-control(type="text" placeholder="Fullname" name="name")
							+e.SPAN.line
						+e.row._line
							+b.INPUT.vform-control(type="text" placeholder="E-mail" name="email")
							+e.SPAN.line
						+e.row._line
							+b.INPUT.vform-control(type="text" placeholder="Phone" name="phone")
							+e.SPAN.line
						+e.row._btn
							+b.BUTTON.vbtn._block._large._primary.effect._bounce-top(type="submit") Send