extends includes/layout
block variables
	- var title = "Main page";
	- var description = "description";
block content
	+b.SECTION.intro
		+e.element._1
		+e.element._2
		+e.element._3
		+e.particles#particles-js
		.vcontainer
			+e.SVG.text.offset-static-sm
				symbol(id="s-text")
					text(text-anchor="middle" x="50%" y="25%" class="text--line") Kitchen
					text(text-anchor="middle" x="50%" y="60%" class="text--line") Of
					text(text-anchor="middle" x="50%" y="90%" class="text--line") Design
				g.g-ants
					use(xlink:href="#s-text" class="text-copy")
					use(xlink:href="#s-text" class="text-copy")
					use(xlink:href="#s-text" class="text-copy")
					use(xlink:href="#s-text" class="text-copy")
					use(xlink:href="#s-text" class="text-copy")
			+e.H1.description.vtitle-small.text-center.light Creativity &amp; professionalism
	+b.SECTION.about-us
		+e.container.vcontainer
			h3.about-us__title.vtitle.vtitle_animation.vtitle_flex.vtitle_flex-around.js-split.text-gradient.text-gradient_primary About
		//.flex
		+e.part._man
			+e.item
				+e.image-wrap
					+e.image-inner
						+e.image(src="img/man.png")
				+e.body
					+e.P.name Vsevolod Kurochka
					+e.P.description Web-developer
			+e.text
				+e.UL.list.scene
					+e.LI.list-layer.layer(data-depth="0.4") 
						+e.P.greetings.vtitle-small.text-uppercase Greetings!
					+e.LI.list-layer.layer(data-depth="0.9") 
						p I am a web developer with 5 years full time experience. I've got a passion for front end web development, and the back end know-how to support that.
					+e.LI.list-layer.layer(data-depth="0.7") 
						p I love to use cutting edge technology and the latest web standards to craft lean, mean and clean code that runs like greased lightning..
		+e.part._girl
			+e.item
				+e.image-wrap
					+e.image-inner
						+e.image(src="img/girl.png")
				+e.body
					+e.P.name Alina Yaremachenko
					+e.P.description Web-designer
			+e.text
				+e.UL.list.scene
					+e.LI.list-layer.layer(data-depth="0.9") 
						+e.P.greetings.vtitle-small.text-uppercase Hello!
					+e.LI.list-layer.layer(data-depth="0.5") 
						p I am a web developer with 5 years full time experience. I've got a passion for front end web development, and the back end know-how to support that.
					+e.LI.list-layer.layer(data-depth="0.2") 
						p I love to use cutting edge technology and the latest web standards to craft lean, mean and clean code that runs like greased lightning.
	+b.SECTION.our-skills
		+e.container.vcontainer
			h3.about-us__title.vtitle.vtitle_animation.vtitle_flex.vtitle_flex-around.js-split.text-gradient.text-gradient_primary Skills
	//- +b.SECTION.vsection
	//- +b.SECTION.vsection
block footer

block dev
	//script(src="js/lib/particles-connect.js")
	//+b.BUTTON.vbtn._large._border._border-brand-1 Large button