.intro{
	position: relative;
	padding-top: 75px;
	padding-bottom: 150px;
	overflow: hidden;
	z-index: 1;
	&__element{
		position: absolute;
		width: 100px;
		height: 100px;
		border-width: 10px;
		border-style: solid;
		transform: rotate(45deg);
		opacity: 0.9;
		z-index: -1;
		&_1{
			left: 0;
			top: -5%;
		}
		&_2{
			right: -10%;
			top: 15%;
		}
		&_3{
			left: 100px;
			bottom: -15%;
		}
		
	}
	&__description{
		text-align: center;
		color: #fff;
	}
	&__company-name{
		margin-bottom: 30px;
		svg{
			height: 300px;
		}
	}
	@include resp-min(sm){
		padding-top: 100px;
		padding-bottom: 250px;
		&__company-name{
			svg{
				height: 400px;
			}
		}
	}
	@include resp-min(md){
		&__element{
			width: 250px;
			height: 250px;
			border-width: 15px;
		}
	}
	@include theme('light'){
		//background-color: palette();
		background: radial-gradient(#0EBB9F, #3984e5);
		&__element{
			border-color: palette('accent');
		}
	}
	@include theme('dark'){
		background: radial-gradient(#005057, #0a2427);
	}
}