// Colors

	$color-responsive-menu: #3949ab;
	$color-success: #5cb85c;
	$color-danger: #d9534f;

	// Brand colors

		$color-brand-1: #F89406;


// Naming
	
	$theme-dark: 'theme-dark';
	$theme-light: 'theme-light';

// Skew
	
	$skew-value: 1.5deg;

// Dependencies

	// Design form ( 'old' or 'new' )
	
		$design-form: 'new';

	// Wordpress

		$wordpress: false;

// Errors

	// If not exists variable.
		$error-variable: "This variable we do not have, sorry. Please try to change variable ";
		$error-color: 'Invalid color name.';