.about-us{
	$self: &;
	position: relative;
	z-index: z('default');
	@at-root{
		%about-us-offset{
			margin-bottom: 30px;
		}
	}
	&__title{
		margin-top: -75px;	
	}
	&__image{
		&-wrapper{
			font-size: 0;
		}
	}
	&__name{
		font-family: 'Archivo Black', serif;
		line-height: 1;
		@extend %about-us-offset;
	}
	&__description{
		line-height: 1.2;
		padding-left: 15px;
		border-left-width: 5px;
		border-left-style: solid;
		@extend %about-us-offset;
	}
	&__body{
		margin-bottom: 30px;
	}
	&__aim{
		&-header{
			line-height: 1;
			font-size: 0;
		}
		&-icon{
			display: inline-block;
			width: 40px;
			max-height: 100%;
			&-path{
				fill: palette('accent');
			}
		}
	}
	&__signature{
		&-wrapper{
			margin-top: 30px;
			padding-left: 35px;
			font-size: 0;
		}
		height: 100px;
	}

	&__part{
		&_man{
			#{$self}{
				&__description{
					border-left-color: palette('accent');
					color: palette('accent');
				}
				// &__body{
				// 	border-color: palette('secondary');
				// }
				&__aim{
					&-accent{
						color: palette('accent');
					}
					&-icon{
						&-path{
							fill: palette('accent');
						}
					}
				}
			}
		}
		&_girl{
			background-color: #ededef;
			#{$self}{
				&__description{
					border-bottom-color: palette('primary');
					color: palette('primary');
				}
				// &__body{
				// 	border-color: palette('secondary');
				// }
				&__aim{
					&-accent{
						color: palette('primary');
					}
					&-icon{
						&-path{
							fill: palette('primary');
						}
					}
				}
			}
		}
	}
	
	@include resp-min(sm){
		&__row{
			align-items: center;
			&_reverse{
				flex-direction: row-reverse;
			}
		}
	}
	@include resp-min(md){
		&__name{
			font-size: 65px;
		}
		&__description{
			font-size: 30px;
		}
		&__body{
			font-size: 50px;
		}
	}
}