%vtitle-default{
	line-height: 1.2;
	@extend .secondary-font;
}
.vtitle{
	text-transform: uppercase;
	font-size: 45px;
	font-weight: bold;
	@include fs('vtitle');
	@extend %vtitle-default;
	&_flex{
		display: flex;
		flex-flow: row wrap;
		&-around{
			justify-content: space-around;
		}
	}
	&_animation{
		span{
			line-height: 1;
			display: inline-block;
			> span{
				transform: none;
				animation: titleLetterMove 7s linear 0s infinite;
			}
		}
		@at-root{
			@keyframes titleLetterMove {
				50%{
					transform: translate(15px, -15px);
				}
			}
		}
		@for $i from 2 through 10{
			> span:nth-child(#{$i}){
				transform: translate3d(0, ((random(15) - 10)* $i + px) , 0);
				span{
					animation-delay: ($i / 1.5) + s;
				}
			}
		}
	}
	&-small{
		font-size: 20px;
		@include fs('vtitle-small');
		@extend %vtitle-default;
	}
	&-big{
		line-height: 1;
		font-size: 30px;
		@include fs('vtitle-big');
		@extend .black !optional;
		//@extend %vtitle-default;
		&__line{
			display: block;
			&_2{
				padding-left: 50px;
			}
		}
		&__first-letter{
			font-size: 140%;
			display: inline-block;
		}
		@include resp-min(sm){
			&__line{
				&_2{
					padding-left: 100px;
				}
			}
		}
	}
}
.text-gradient{
	&_primary{
		> span:first-child,
		> span:last-child{
			span{
				position: relative;
				color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
				//background-image: linear-gradient(to right, #009CF3, #16D6D9);
				@include theme('light'){
					background-image: linear-gradient(to right, palette('primary'), lighten( palette('primary'), 25% ) );
				}
			}
		}
	}
}